
.card{
    height: 60vh;
    margin: 25px;
    padding: 25px;
}

.center img{
    text-decoration: none;
    color: inherit;
    border: none;
    outline: none;
    height: 200px;
    width: 250px;
    margin: 20px 0px;
}


h4{
    font-weight: 100;
}

.center{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
}

.button{
    display: grid;
    width: 100%;
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 50px;
    cursor: pointer;
  }
 .container {
    outline: 0;
    width: 700px;
}
 


  .cart{
    margin-top: 30px;
    width: 50%;
    /* height: 360px; */
    background-color: rgb(252, 252, 252);
    padding: 25px;
  box-shadow: 12px 17px 51px rgba(0, 0, 0, 0.22);
  backdrop-filter: blur(6px);
  cursor: pointer;
  transition: all 0.5s;
  display: inline-block;
  user-select: none;
  /* margin-left: 30px; */
  }
  .content{
    /* display: flex;
    align-items: center; */
    gap: 80px;
    margin: 20px;
    width: 70%;
  }

  @media (max-width: 700px) {
    .cart{
      width: 80%;
   
    }
    .imgs{
      width:50% !important
    }
    .immgg{
      width: 100% !important
    }
  }