<ng-container *ngIf="product.length != 0">
  <div style="display: grid; flex-wrap: wrap;" >
    
    <div *ngFor="let item of product; let i=index" class="table" style="display: flex; align-items: center; " class="cart">
      <img style="width: 120px" src="{{item.image}}" alt="">
      <div style="margin-left: 10px;">
        <div class="title">${{item.title}}</div>
     
        <div style="padding: 5px;"><strong> Price: ${{item.price}}</strong> </div>
  <br>
        <span><button class="incre" (click)="decrement(item.id)">-</button></span>
        <span class="quantity">{{item.quantity}} </span>
        <span><button class="incre" (click)="increment(item.id)">+</button></span>
        <div><strong>Total: ${{item.total * item.quantity}}</strong></div>
        <button style="width: 120px;" (click)="removeItem(item)" class="danger">Delete</button>
      </div>
    </div>
  </div>
  <div style="padding: 20px;text-align: center;">
    <h3><strong>Grand Total:${{grandTotal}}</strong></h3>

  </div>
<div style="display: flex;justify-content: center;">
    <tr>
        <td colspan="3"></td>
        
        <td><button (click)="emptyCart()"class="danger">Empty Cart</button></td>
        <td><button routerLink="../products"class="button">Shop More</button></td>
        <td><button class="CheckOut"  (click)="CheckOut()">CheckOut</button></td>
    </tr>
</div>

</ng-container>



<ng-container *ngIf="product.length==0">
    <div class="container">
        <div class="card">
            <h1 class="card-title">
                My cart
            </h1>
        </div>
        <div class="center">
            <img src="../../assets/istockphoto-861576608-612x612.jpg" alt="">
            <h2>Your cart is empty</h2>
            <h4>Add Item</h4>
            <button routerLink="../products"class="button">Shop Now</button>
        </div>
    </div>
</ng-container>

