<body>

  <ng-container >
    <mat-card class="payment">
      <mat-card-content>
  
        <section class="example-section">
  
          <h1>Address</h1>
         
              <div class="example-margin"  mat-dialog-close>
                <h3 style="margin-top:15px ;">{{userDetails?.doorNo}} </h3>
                <h3> {{userDetails?.street}}</h3>
                <h3>{{userDetails?.city}}</h3>
                <h3>{{userDetails?.state}}</h3>
                <h3>{{userDetails?.zipcode}}</h3>
              </div>
          
        </section>
      </mat-card-content>
    </mat-card>
  </ng-container>

 

  <mat-card class="payment">
    <mat-card-content>

      <section class="example-section">
        <h1>Payment:</h1>

        <form action="" [formGroup]="formData" (ngSubmit)="onSubmit()">
          <mat-radio-group [(ngModel)]="labelPosition">

            <mat-radio-button class="example-margin" value="card">Card</mat-radio-button>
            <input type="number" placeholder="card Number" style="margin-left: 150px;" formControlName="card">

            <mat-radio-button class="example-margin" value="upi">UPI</mat-radio-button>
            <input type="number" placeholder="UPI Id" style="margin-left: 150px; " formControlName="upi">

            <mat-radio-button class="example-margin" value="cash">Cash On Delivery</mat-radio-button>
            <input type="submit" placeholder="place order" [disabled]="!formData.valid">

          </mat-radio-group>
        </form>
      </section>
    </mat-card-content>
  </mat-card>
</body>