
.grandTotal{
padding-top: 20px;
font-size: x-large;
  text-align: center;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
h1{
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

}
.payment{
  top: 30px;
}
  
  .example-margin {
    margin: 0 100px;
    /* display: flex; */
  }
  input[type=number], select {
    width: 30%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }
  .submit {
    width: 25%;
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 120px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }

  @media (min-width: 1000px) {
  .example-section {
    display: flex;
    align-content: center;
    align-items: center;
    /* height: 60px; */
  }

    mat-card{
    justify-content: center;
    align-items: center;
    margin-left: 350px;
    width: 50%;
    top: 15%;
  }
  input[type=number], select {
    width: 70%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }
  .submit{
    width: 20%;
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 120px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  }