<body>
  <h3 class="grandTotal">Sub-Total: ${{grandTotal}}</h3>
  <mat-card class="payment">
    <mat-card-content>
      <div class="sections">
        <div>
          <h1>Address:</h1>
        </div>
        <div style="padding-left: 25px;">
          <h3>Door No:{{gwt?.doorNo}} </h3>
          <h3>Street:{{gwt?.street}}</h3>
          <h3>City:{{gwt?.city}}</h3>
          <h3>State:{{gwt?.state}}</h3>
          <h3>Zipcode:{{gwt?.zipcode}}</h3>
        </div>
      </div>
      <hr>
      <h1>Payment:</h1>

      <form action="" [formGroup]="formData" (ngSubmit)="onSubmit()">
        <mat-radio-group [(ngModel)]="labelPosition" [ngModelOptions]="{standalone: true}">

          <mat-radio-button class="example-margin" value="card">Card</mat-radio-button>
          <input type="number" placeholder="card Number" style="margin-left: 150px;" formControlName="card">

          <mat-radio-button class="example-margin" value="upi">UPI</mat-radio-button>
          <input type="number" placeholder="UPI Id" style="margin-left: 150px; " formControlName="upi">

          <button class="submit" placeholder="place order" (click)="order()" [disabled]="!formData.valid">Place order</button>

        </mat-radio-group>

      </form>
    </mat-card-content>
  </mat-card>
</body>